

/* General styles */

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    background-color: white;
}

h1 {
    color: hsl(237, 12%, 33%);
    text-align: center;
}

p {
    color: hsl(240, 6%, 50%)
}

/* image styles */
.image {
    text-align: center;
}
.image img {
    width: 40%;
}

/* faq accordion styles */



/* footer */
.attribution {
    color: white;
}